<span style='color: #000' title='Frames'>     3</span><span style='color: #009' title='Memory'>   9984.00 KB</span><span style='color: #900' title='Time'>     59.00 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />